.ikonaKlik {
  width: 20em;
}

.buttonKlik {
  background-color: #cfccd6 !important;
  border: none !important;
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

.textKlik {
  font-weight: bold !important;
  text-align: center;
  margin-top: 3%;
}

.pouceniAlert {
  background-color: #cfccd6 !important;
  text-align: justify;
}
