.ikonaKlik {
  width: 20em;
}

.buttonKlik {
  background-color: #008080 !important;
  border: none !important;
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

.buttonKlik:hover {
  background-color: #cfccd6 !important;
}

.textKlik {
  font-weight: bold !important;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  color: #008080 !important;
}

.pouceniAlert {
  background-color: #cfccd6 !important;
  text-align: justify;
  border: 0 !important;
}

.mt-1 {
  color: black !important;
}

.bt-image {
  background-repeat: no-repeat;
  height: 90vh !important;
}
