@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
/* 
html {
  font-family: 'Open Sans', sans-serif;
  color: #444; 
} */

.mujcontainer {
  width: 100%;
  margin: 0;
  /*   margin-right: auto;
  margin-left: auto; */
}

body {
  margin: 0;
  /*   width: 100%; */
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link.active {
  text-decoration: underline;
}
/* .header {
  height: 5em;
} */
/* .menuNavBar {
  height: 100%;
} */

.logo {
  height: 3em;
}

h1 {
  color: #008080 !important;
  margin-top: 0.5em !important;
}

p {
  color: black;
}

.accordion-button {
  color: black !important;
}

.nav-link {
  color: black !important;
}

/* .header {
  display: flex;
  flex-wrap: nowrap;
}
.header__h1 {
  font-size: 12px;
} */

/* a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
} */

/* .header,
.footer {
  background-color: rgb(176, 175, 175);
} */
:root {
  --bs-body-color: black !important;
}
