@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* .mujcontainer {
  width: 100%;
  margin: 0;
} */

body {
  margin: 0;
  }

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link.active {
  text-decoration: underline;
}

.logo {
  height: 3em;
}

h1 {
  color: #008080 !important;
  margin-top: 0.5em !important;
}

p {
  color: black;
}

.accordion-button {
  color: black !important;
}

.nav-link {
  color: black !important;
}

:root {
  --bs-body-color: black !important;
}
