@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.container {
  width: 700px;
  /* max-width: 40rem; 
  margin-right: auto;
  margin-left: auto;*/
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: nowrap;
}
.header__h1 {
  font-size: 12px;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header,
.footer {
  background-color: rgb(176, 175, 175);
}
