#mapa {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 5.5em);
}

.polozkaKarty {
  margin-top: 1em;
}

.kontakt {
  margin-right: 1em;
}

.odkazMapa {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
