.nadpisyH1 {
  font-size: 12px;
}

.textPrvniPomoc {
  text-align: justify;
  padding: 0px 0px 10px 0px;
}

.textPrvniPomoc {
  text-align: justify;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

.texPrvniPomoc-volej {
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
}

.texPrvniPomoc2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  text-align: center;
}
.div {
  display: contents;
  text-align: justify;
}
.div--schovat {
  display: none;
}
