@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
}

.nadpisyH1 {
  font-size: 12px;
}

.textPrvniPomoc {
  text-align: justify;
  padding: 0px 0px 10px 0px;
}

.obalPrvniPomoc {
  background-color: rgb(193, 189, 189);
}
.textPrvniPomoc {
  text-align: justify;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}
.texPrvniPomoc-volej {
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
}

.texPrvniPomoc2 {
  font-weight: bold;
  text-align: center;
  background-color: aquamarine;
}

h2 {
  text-align: center;
}
.div {
  display: contents;
  text-align: justify;
}
.div--schovat {
  display: none;
}
