.vysvetlivky {
  position: absolute;
  padding: 0.3em;
  left: 70%;
  bottom: 1%;
  z-index: 10;
  background-color: #cfccd6;
  font-family: 'Open Sans', sans-serif !important;
}

.tlapkaVysvetlivky {
  width: 1em;
}
